/* colors */
$bodyBackground:  #f5f5f5;
$header: #e8d9d9;

$placeholder: #e6e6e6;

$todoBackground: #ffffff;
$todoBorder: #ededed;
$todoBorderTop: #e6e6e6;
$todoButton: #cc9a9a;


/* sizes */
$standardFontSize: 14px;